body {
  overflow: visible;
  overflow-x: auto;

  #info {
    color: orange;
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: 35px;
  }

  #alert-window {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .cardLink {
    color: black;
    text-decoration: none;
  }

  .navLink {
    text-decoration: none;
    color: orange;
  }

  #rate {
    font-size:x-large;

    .one {
      color: #339900;
    }

    .two {
      color: #339900;
    }

    .three {
      color: #ffcc00;
    }

    .four {
      color: #ff9966;
    }

    .five {
      color: #cc3300;
    }
  }
}
