body {
  overflow: visible;
  overflow-x: auto;

  #info {
    color: #31d2f2;
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: 35px;
  }

  #alert-window {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .cardLink {
    color: black;
    text-decoration: none;
  }

  .navLink {
    text-decoration: none;
    color: orange;
  }
}
